.env~
app.js~
app_api/controllers/authentication.js~
app_api/models/db.js~
app_api/models/users.js~
app_api/routes/index.js~
app_client/app.js~
app_client/common/services/authentication.service.js~
app_client/dietProgramDetail/dietProgramDetail.controller.js~
app_client/dietProgramDetail/dietProgramDetail.view.html~
app_client/dietProgramsHome/dietProgramsHome.controller.js~
app_client/dietProgramsHome/dietProgramsHome.view.html~
app_client/dietProgramsSuggest/dietProgramsSuggest.controller.js~
app_client/dietProgramsSuggest/dietProgramsSuggest.view.html~
app_client/footerF.html~
app_client/footerGeneric.directive.js~
app_client/footerGeneric.js~
app_client/home/home.view.html~
app_client/index.html~
package.json~
.gitignore~
public/stylesheets/style.css~
app_client/common/directives/footerGeneric/footerGeneric.directive.js~
app_client/common/directives/footerGeneric/footerGeneric.directive.js~
app_api/config/passport.js~
app_client/auth/login/login.controller.js~
app_client/auth/login/login.view.html~
app_client/auth/register/register.controller.js~
app_client/auth/register/register.view.html~
app_client/common/directives/footerGeneric/footerGeneric.controller.js~
app_client/common/directives/footerGeneric/footerGeneric.view.html~

