<navigation></navigation>

<div class="content-section-a">
    <br>
    <div class="container">
        <div class="error">{{message}}</div>
        <h2>{{pageHeader}}</h2> <hr> <br>
        <div class="row">
            <div class="col-lg-2 col-md-3 ">
                <img class="img-rounded img-responsive" ng-src="{{thisProduct.picture}}" width="350" height="350"/><br>
            </div>
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-9 col-md-8">
                <p class="text-muted">Brand: {{thisProduct.brand}}</p>
                <p class="text-muted">Calories: {{thisProduct.kcal}}</p>
                <p class="text-muted">Fat: {{thisProduct.fat}} %</p>
                <p class="text-muted">Diet program:
                    <div ng-repeat="diet in dietPrograms">
                        <p class="text-muted">- {{diet.name}}</p>
                    </div>
                </p>
            </div>
        </div>
    <div class="row">
        <p class="text-right">
            <img ng-show="thisProduct.glutenfree" src="/images/glutenfree.png"/>
            <img ng-show="thisProduct.vegan" src="/images/vegan.png"/>
            <img ng-show="thisProduct.vegetarian" src="/images/vegetarian.png"/>
            <img ng-show="thisProduct.halal" src="/images/halal.png"/>
        </p>
    </div>
    </div>
    <div class="container">
        <h4>Where To Buy</h4>
        <table class="table">
            <thead>
            <tr class="text-muted">
                <th>Shop</th>
                <th>
                    <a href="#" class="text-muted" ng-click="sortBy('price')">Price<i class="fa fa-fw fa-sort"></i></a>
                    <span ng-show="propertyName === 'price'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="shop in shops | orderBy:propertyName:reverse">
                <td>{{shop.name}}</td>
                <td>{{shop.price}} <span class="glyphicon glyphicon-euro"></span></td>
                <td><a href="{{shop.link}}">Buy</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
