

#banner {
  width:900px;
  height: 30px;
  text-align: center;
}

#navigation {
  width: 900px;
  height: 50px;
  float:left;
  padding: 0;
}

#navigation ul {
  list-style: none;
}

#navigation ul li {
  float: left;
  padding: 5px;
}

#content {
  width: 900px;
  float: left;
}

#homeContent {
  padding-left: 43px;
}

#dietProgramsSidebar {
  width: 200px;
  float:left;
}
#dietProgramsSidebar ul {
  list-style: none;
}

#dietProgramsContent {
  width: 500px;
  float: left;
  padding: 5px;
}

#footer {
  width: 900px;
  text-align: center;
}

#intro-header{
  backgroud-image:url("bootstrap/img/ipad-bg.png");
}