#shouldbered {
  color: red;
}
/*<<<<<<< HEAD*/

/*#intro-header{*/
  /*backgroud-image:url("bootstrap/img/ipad-bg.png");*/
/*}*/
/*=======*/

/** Footer **/
html, body {
  height: 100%;
}
.wrapper {
  min-height: 90%;
  height: auto !important;
  height: 90%;
  margin: 0 auto -10em;
}
.footer {
  padding-top: 2.5em;
  background-color: #f5f5f5;
}
.footer, .push {
  height: 8em;
}

