<h2>{{vm.pageHeader.title}}</h2>

<p class="lead">Already a member? Please <a href="/#login?page={{ vm.returnPage }}">log in</a> instead.</p>
<form ng-submit="vm.onSubmit()">
<div>{{ vm.formError }}</div>
<label for="name">Full name</label>
<input type="text" placeholder="Enter your name" ng-model="vm.credentials.name">
<label for="email">Email address</label>
<input type="email" placeholder="Enter email" ng-model="vm.credentials.email">
<label for="password">Password</label>
<input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
<button type="submit">Register</button>
</form>
