<navigation></navigation>

<div class="content-section-a">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <admin-sidebar></admin-sidebar>
            </div>
            <div class="col-md-10"><br />
                <div class="error">{{ vm.message }}</div>
                <h2>{{vm.pageHeader}}</h2>
                <p>{{vm.pageContent}}</p>
                <p>{{vm.formError}}</p>
                <form class="form-horizontal" ng-submit="vm.onSubmit()">
                    <div class="form-group">
                        <label class="col-md-1" for="name">Name: </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="name" ng-model="vm.formData.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1" for="fat">Link to picture:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" min="0" id="picture" ng-model="vm.formData.picture">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1" for="kcal">Kcal:</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" min="0" id="kcal" ng-model="vm.formData.kcal">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1" for="fat">Fat:</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" min="0" id="fat" ng-model="vm.formData.fat">
                        </div>
                    </div>

                    <h4><br />Choose product characteristics</h4>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="vm.formData.glutenfree"> Gluten free</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="vm.formData.vegan"> Vegan</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="vm.formData.vegetarian"> Vegetarian</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="vm.formData.halal"> Halal</label>
                            </div>
                        </div>
                    </div>

                    <!--<h4><br />Assign product to diet program/s </h4>-->

                        <!--<span ng-repeat="dietProgram in vm.data.dietPrograms">-->
      <!--<label class="checkbox" for="{{dietProgram.name}}">-->
        <!--<input type="checkbox" value="{{dietProgram.name}}" ng-checked="selection.indexOf(dietProgram.name) > -1" id="{{dietProgram.name}}" ng-click="toggleSelection(dietProgram.name)" "/>-->
        <!--{{dietProgram.name}}-->
      <!--</label>-->
    <!--</span>-->

                    <!-- <div ng-repeat="name in selection" class="selected-item">-->
                    <!--  {{name}}-->
                    <!-- </div>-->

                    <div class="form-group">
                        <div class="col-md-2 pull-right">
                            <button type="submit">Add product</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</div>
<footer-generic></footer-generic>
